<h3 class="section-title">About Me</h3>
<dl class="experience">
    <p>I am a computer science & engineering student at MiraCosta College working towards transferring to a four-year institution. I have a strong background in mathematics and the fine arts, so I strive to create a world in which I can utilize both. I currently serve as a mathematics and computer science tutor, a supplemental instructional leader for precalculus, and the president of WiCS (Women in Computer Science).</p>
</dl>

<hr>

<h3 class="section-title">Projects</h3>
<dl class="experience">
    {% for project in site.data.projects %}
        <dt>
            <p class="title">{{ project.title }}</p>
            <p class="company">{{ project.company }}</p>
            <p class="period">{{ project.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ project.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Professional Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ job.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Volunteer Experience</h3>
<dl class="experience">
    {% for volunteer in site.data.volunteering %}
        <dt>
            <p class="title">{{ volunteer.qualification }}</p>
            <p class="company">{{ volunteer.school }}</p>
            <p class="period">{{ volunteer.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ volunteer.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Extracurriculars</h3>
<dl class="experience">
    {% for extracurricular in site.data.extracurriculars %}
        <dt>
            <p class="title">{{ extracurricular.qualification }}</p>
            <p class="company">{{ extracurricular.school }}</p>
            <p class="period">{{ extracurricular.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ extracurricular.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Awards and Honors</h3>
<dl class="experience">
    {% for award in site.data.awards %}
        <dt>
            <p class="title">{{ award.title }}</p>
            <p class="company">{{ award.company }}</p>
            <p class="period">{{ award.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ award.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Notable Courses</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
